# Ignore Images
public/shared
public/shared/content/uploads

# Ignore Cache Configs
public/content/advanced-cache.php
public/content/cache
public/content/db.php
public/content/object-cache.php
public/content/plugins/better-wp-security
public/content/plugins/cloudflare/
public/content/plugins/w3-total-cache/
public/content/plugins/w3tc-wp-loader.php
public/content/plugins/wp-super-cache
public/content/upgrade
public/content/w3tc-config/
public/content/wp-cache-config.php

# Ignore Backups and Logs
backups
logs

# Ignore system files, misc.
*.bak
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
env_*
error_log
node_modules
tempfile

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
_source

# Dreamweaver added files
_notes
dwsync.xml

# Folders to ignore
.hg
.svn
.CVS
