[submodule "wordpress"]
  path = public/wp
  url = git@github.com:WordPress/WordPress.git
  ignore = dirty

[submodule "server-scripts"]
  path = bin
  url = git@github.com:GunnJerkens/server-scripts.git
  ignore = dirty