.fade {
  position: relative;
  opacity: 0;

  &.visible {
    visibility: visible !important;
    opacity: 1;
    transition: opacity 1s;
    @include transitionDelay;
  }
}

.slide-up {
  position: relative;
  transform: translateY(30px);

  &.visible {
    visibility: visible !important;
    transform: translateY(0);
    transition: transform 1s;
    @include transitionDelay;
  }
}

.slide-down {
  position: relative;
  transform: translateY(-30px);

  &.visible {
    visibility: visible !important;
    transform: translateY(0);
    transition: transform 1s;
    @include transitionDelay;
  }
}

*[data-jarallax-element] {
  @media (max-width: 767px) {
    transform: none !important;
  }
}