// Basic color pallette with variables

$navy: #001f3f;
.navy {
  color: $navy;
}

$blue: #0074d9;
.blue {
  color: $blue;
}

$aqua: #7fdbff;
.aqua {
  color: $aqua;
}

$teal: #39cccc;
.teal {
  color: $teal;
}

$olive: #3d9970;
.olive {
  color: $olive;
}

$green: #2ecc40;
.green {
  color: $green;
}

$lime: #01ff70;
.lime {
  color: $lime;
}

$yellow: #ffdc00;
.yellow {
  color: $yellow;
}

$orange: #ff851b;
.orange {
  color: $orange;
}

$red: #ff4136;
.red {
  color: $red;
}

$maroon: #85144b;
.maroon {
  color: $maroon;
}

$fuchsia: #f012be;
.fuchsia {
  color: $fuchsia;
}

$purple: #b10dc9;
.purple {
  color: $purple;
}

$white: #ffffff;
.white {
  color: $white;
}

$silver: #dddddd;
.silver {
  color: $silver;
}

$gray: #aaaaaa;
.gray {
  color: $gray;
}

$black: #111111;
.black {
  color: $black;
}