body {
  font-size: 16px;

  &.no-scroll {
    overflow: hidden;
  }
}

article.the-missing {
  text-align: center;
}

.hide-defs,
.hidden {
  display: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @include bp(1500) {
    padding: 0;
  }
}

main {
  margin-top: 155px; // use header height to push under fixed header

  @include bp(1200) {
    margin-top: 100px; // use header height to push under fixed header
  }
}

a:hover {
  cursor: pointer;
}

sup {
  top: 0;
  font-size: 1em;
}

.img-responsive {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.lazy {
  opacity: 0;
}

.lazy-active {
  opacity: 1;
  transition: opacity 0.5s;
}

.arrow {
  position: absolute;
  right: 70px;
  bottom: -60px;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  z-index: 2;

  @include bp(1600) {
    top: 50%;
    right: 70px;
    bottom: auto;
    margin-top: -25px;
  }

  &.prev {
    right: auto;
    left: 70px;

    @include bp(1600) {
      left: 70px;
    }
  }

  svg {
    width: 100%;
    height: 100%;
    fill: #fff;
  }
}

.slide {
  position: relative;

  @include bp(768) {
    display: flex;
  }
}

.thanks {
  display: none;
  color: green;
}

.hbspt-form form {
  display: flex;
  flex-flow: row wrap;
  font-family: Verdana;
  max-width: 600px;

  .field {
    width: 48%;
    margin-bottom: 1rem;
    
    &:nth-child(odd) {
      margin-right: 2%;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    input[type="checkbox"] {
      display: inline-block;
      vertical-align: top;
      width: auto;
      margin-right: 5px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .hs_neighborhoods_interested_in,
  .hs_recaptcha,
  .hs_submit {
    width: 100%;
  }

  input[type="submit"] {
    background: darkred;
    padding: 5px 15px;
    color: #fff;
    border: none;
  }
}