@mixin bp($breakpoint) {
  $num: $breakpoint;
  @if $breakpoint == med {
    $num: 768;
  }
  @if $breakpoint == lg {
    $num: 1024;
  }

  @media only screen and (min-width: $num + px) {
    @content;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: calculateRem($size);
}