@import "normalize";
@import "compass/css3";
@import "compass/utilities/sprites";
@import "compass/utilities/general/clearfix";

/* SVG Gradients in Opera & IE9 */
$experimental-support-for-svg: true;

/* SCSS Modules */
@import "typography";